{% extends "base.html" %}

{% block content %}

<!-- Background image -->
<div
  class="bg-image d-flex justify-content-center align-items-center"
  style="
    background-image: url(http://risovach.ru/upload/2017/12/generator/gde-to-ya-uzhe-eto-videl_164219314_orig_.png);
    background-position: center;
    background-size: cover;
    height: 100vh;
  "
>    <div class="container d-flex justify-content-center align-items-center">
    {{ wtf.quick_form(form) }}
</div> </div>

<!-- Background image -->
{% endblock %}