{% extends "base.html" %}

{% block content %}

<!-- Background image -->
<div
  class="bg-image d-flex justify-content-center align-items-center"
  style="
    background-image: url(https://www.meme-arsenal.com/memes/de6b2381255048b07143f7fd341e3e13.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
  "
>    <div class="container d-flex justify-content-center align-items-center">
    {{ wtf.quick_form(form) }}
</div> </div>

<!-- Background image -->
{% endblock %}